#container .input-area {
    max-width: 500px;
    margin: auto;
    width: 100%;
    margin-top: 35px;
}
.input-area input {
    border-radius: 5px;
    border: 2px solid #333;
    padding: 10px;
    font-weight: bold;
    width: 70%;
    margin-right: 5px;
}
.input-area button {
    width: 20%;
    height: 45px;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: bold;
}
.input-area button:hover, .input-area button:active{
    border: 2px solid #333;
    background-color: cadetblue;
}