.detail-area .work-item {
    padding: 10px;
    padding-left: 40px;
}
.detail-area .todo-area .work-item .work-content{
    width: 100%;
    min-height: 30px;
    line-height: 26px;
    font-weight: bold;
    background-color: #ecf0f1;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0px 20px;
}
.todo-area .work-item .custom-checkbox{
    display: block;
}
.todo-area .work-item {
    position: relative;
}
.todo-area .work-item .custom-checkbox input{
    position: absolute;
    left: 5px;
    opacity: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.checkmark {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    border: 4px solid #2ecc71;
    border-radius: 5px;
    background-color: #eee;
}
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
.todo-area .work-item .checkmark::after {
    top: 0px;
    left: 5px;
    width: 7px;
    height: 14px;
    border: solid #27ae60;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.todo-area .work-item .custom-checkbox input:hover ~ .checkmark {
    background-color: #ccc;
}
.todo-area .work-item .custom-checkbox input:checked ~ .checkmark::after {
    display: block;
}
.todo-area .work-item .custom-checkbox input:checked ~ .checkmark {
    background-color: #ccc;
}


.done-area .work-item {
    position : relative;
}
.done-area .work-item button {
    position: absolute;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #e74c3c;
}
.done-area .work-item .work-content {
    width: 100%;
    min-height: 30px;
    line-height: 26px;
    font-weight: bold;
    background-color: #7f8c8d;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0px 20px;
}